.popup {
  box-sizing: border-box;
  padding: 0 19px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
