.popup {
  box-sizing: border-box;
  padding: 0 19px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__container {
  box-sizing: border-box;
  padding: 35px;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__close {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 32px;
  height: 32px;
  background: url(../../images/ico/close.svg) no-repeat center/cover;
}

@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}

.popup__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
}

@media (max-width: 424px) {
  .popup__title {
    font-size: 18px;
  }
}

.popup__user-name {
  margin: auto 0 30px;
}

.popup__user-status {
}

.popup__submit {
  margin-top: auto;
}

@media (max-width: 424px) {
  .popup__submit {
    margin-top: 50px;
  }
}
