.profile {
  box-sizing: border-box;
  padding: 36px 0 0;
  display: grid;
  gap: 29px;
  align-items: center;
  grid-template-columns: 120px 336px 1fr;
}

@media (max-width: 767px) {
  .profile {
    column-gap: 15px;
    grid-template-columns: 120px 250px;
  }
}

@media (max-width: 424px) {
  .profile {
    padding-top: 42px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
