.popup__close {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -35px;
  right: -35px;
  background: url(../../../images/ico/close.svg) no-repeat center/cover;
  animation: close .2s linear;
  transition: .4s;
}

.popup__close:active {
  transform: scale(0);
}

@keyframes close {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* media */
@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
