.popup__close {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -38px;
  right: -38px;
  background: url(../../../images/ico/close.svg) no-repeat center/cover;
  animation: close .2s linear;
  transition: .4s;
}

.popup__close:hover {
  transform: rotate(25deg);
}

@keyframes close {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* media */
@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
