.profile__info {
  position: relative;
  width: 336px;
}

@media (max-width: 767px) {
  .profile__info {
    width: 250px;
  }
}

@media (max-width: 424px) {
  .profile__info {
    width: 200px;
    text-align: center;
  }
}
