.profile__user-about {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 424px) {
  .profile__user-about {
    font-size: 14px;
  }
}
