.button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 360px;
  padding: 12px;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  opacity: .8;
}

@media (max-width: 424px) {
  .button {
    font-size: 14px;
  }
}
